
.main-wrap {
    display: flex;
    width: 450px;
    margin:20px;
    background-color: white;
    color: black;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    .pic {
        width: 70%;
    }

    .left-wrap {
        width: 78%;
        margin-right: 2%;

        .icon-wrap {
            display: flex;
            flex-direction: row;
            height: 21%;
        }

        .text-wrap {
            height: 80%;
        }
    }
}

.proj-image {
    max-width: 100%;
    max-height: 100%;
}

.div_email {
    margin-top: -10px;
}